@import url(normalize.css);
@font-face {
  font-family: 'Lato Bold';
  src: url("fonts/latobold.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Italic';
  src: url("fonts/latoitalic.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Lato Thin';
  src: url("fonts/latothin.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Lato Medium';
  src: url("fonts/latomedium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("fonts/latoregular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url("fonts/latolight.woff") format("woff");
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

input {
  outline: none;
}

button {
  outline: none;
  background: none;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1600px;
  font-family: 'Lato Regular';
}

.header {
  background: url(../img/main-banner.png) 50% 0 no-repeat;
  height: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list {
  font-family: 'Lato Bold';
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__link {
  color: #4d4959;
  font-size: 13px;
  letter-spacing: 2.5px;
}

.nav-list__item:not(:last-child) {
  padding-right: 63px;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:nth-child(2)::after,
.nav-list__item:nth-child(5)::after, .title_chain:after, .seat__text::after, .title-seat_after::after,
.title-seat_after_boriosa::after,
.title-seat_after_mavic::after, .title_twitter:after, .subscribe__title:after {
  position: absolute;
  display: block;
  content: "";
}

.nav-list__item:nth-child(2)::after,
.nav-list__item:nth-child(5)::after {
  top: 13px;
  left: -34px;
  background: #585464;
  width: 2px;
  height: 2px;
}

.title {
  color: #353738;
  font: 18px 'Lato Bold';
  letter-spacing: 3.5px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.title_chain:after {
  background: url(../img/chain-icon.png);
  top: -73px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 52px;
  height: 44px;
}

.paragraph {
  text-align: center;
  font: 17px/34px 'Lato Regular';
  color: #848789;
  letter-spacing: 0.3px;
}

.section-one-wrap {
  padding: 190px 0px 134px 0px;
  max-width: 1080px;
  margin: 0 auto;
}

.section-one {
  background: #f7f7f7;
}

.title_padding {
  padding: 0px 30px;
  padding-bottom: 21px;
}

.paragraph_padding {
  padding: 0px 30px;
}

.section-two {
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 600px)/repeat(3, 1fr);
}

.bicycle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background: url(../img/bicycle.jpg) 50% 50% no-repeat;
}

.seat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-seat {
  padding: 127px 0px 12px 0px;
}

.seat__text {
  font: 16px/30px 'Lato Regular';
  color: #848789;
  padding: 0px 60px 0px 69px;
  text-align: justify;
  position: relative;
}

.seat__text::after {
  width: 50px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -35px;
  background: #d7d7d7;
}

.title-seat_after::after,
.title-seat_after_boriosa::after,
.title-seat_after_mavic::after {
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 44px;
  height: 30px;
  background: url(../img/oliva.png) no-repeat;
}

.title-seat_after_boriosa::after {
  background: url(../img/boriosa.png) no-repeat;
  width: 34px;
  height: 33px;
}

.title-seat_after_mavic::after {
  background: url(../img/fork.png) no-repeat;
  width: 24px;
  height: 44px;
}

.vintage {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  background: url(../img/vintage.jpg) 50% 50% no-repeat;
}

.bicycles {
  background: url(../img/bicycles.jpg) 50% 50% no-repeat;
}

.bicycle-2 {
  background: url(../img/bicycle-2.jpg) 50% 50% no-repeat;
}

.seat img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.title_twitter:after {
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 34px;
  height: 30px;
  background: url(../img/twitter-icon.png) no-repeat;
}

.title_transform_none {
  text-transform: none;
  letter-spacing: 2.2px;
}

.grey {
  color: #848789;
  font-family: "Lato Light";
}

.section-one_padding div {
  padding: 184px 0px 179px 0px;
}

.paragraph_italic {
  font-family: 'Lato Italic';
  font-size: 23px;
  margin-top: -5px;
}

.images-section {
  display: -ms-grid;
  display: grid;
  grid: repeat(2, 267px)/repeat(6, 1fr);
      grid-template-areas: 'm n h c e e' 'p p h c d f';
}

.grid-1 {
  background: url(../img/grid-1.jpg) 50% 50% no-repeat;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: m;
  background-size: cover;
}

.grid-2 {
  background: url(../img/grid-2.jpg) 50% 50% no-repeat;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: n;
  background-size: cover;
}

.grid-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: h;
  background: url(../img/grid-3.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.grid-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: c;
  background: url(../img/grid-4.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.grid-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: p;
  background: url(../img/grid-5.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.grid-6 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: e;
  background: url(../img/grid-6.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.grid-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: d;
  background: url(../img/grid-7.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.grid-8 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: f;
  background: url(../img/grid-8.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.button-section {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #282f35;
}

.discover-btn {
  font: 15px 'Lato Regular';
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #94979a;
  letter-spacing: 2.5px;
  padding: 15px 57px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.discover-btn:hover {
  color: #c4c4c4;
}

.discover-btn:active {
  -webkit-transform: scale(0.92, 0.92);
          transform: scale(0.92, 0.92);
}

.subscribe-section {
  text-align: center;
  padding: 230px 0px 111px;
}

.subscribe {
  max-width: 534px;
  margin: 0 auto;
  padding: 0px 20px;
}

.subscribe__title {
  color: #848789;
  font-size: 21px;
  letter-spacing: 1px;
  font-family: 'Lato Italic';
  margin-bottom: 35px;
  position: relative;
}

.subscribe__title:after {
  height: 88px;
  width: 94px;
  top: -121px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../img/logo.png) no-repeat;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.subscribe_input {
  font-size: 18px;
  font-family: 'Lato Italic';
  border: 1px solid #d3d7d9;
  padding: 24px 0px 23px 27px;
  letter-spacing: 0.6px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe__btn {
  background: #64c29e;
  font-family: 'Lato Thin';
  font-size: 24px;
  width: 18%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.subscribe__btn:hover {
  background: #38be8b;
  cursor: pointer;
}

.subscribe__btn:active {
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}

.footer {
  background: #f7f7f7;
}

.footer__wrap {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 107px 0px 109px;
}

.footer__info {
  font-size: 14px;
  font-family: 'Lato Italic';
  color: #848789;
  position: absolute;
  left: 10px;
  top: 95px;
  line-height: 18px;
}

.footer__link {
  color: #848789;
}

.main-info {
  font-size: 16px;
  font-family: 'Lato Bold';
}

.twitter {
  width: 35px;
  height: 34px;
  display: block;
  background: url(../img/ft-tw-icon.png) no-repeat;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link:not(:last-child) {
  margin-right: 5px;
}

.facebook {
  width: 35px;
  height: 34px;
  display: block;
  background: url(../img/ft-fb-icon.png) no-repeat;
}

.pinterest {
  width: 35px;
  height: 34px;
  display: block;
  background: url(../img/ft-pt-icon.png) no-repeat;
}

@media screen and (max-width: 1600px) {
  .section-two {
    grid: repeat(2, 600px auto)/50% 50%;
  }
  .vintage {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    background-size: cover;
  }
  .bicycle,
  .bicycles {
    background-size: cover;
  }
  .seat__text {
    margin-bottom: 68px;
  }
}

@media screen and (max-width: 1300px) {
  .images-section {
    grid: repeat(4, 267px)/repeat(3, 1fr);
        grid-template-areas: 'm n h' 'p p h' 'c e e' 'c d f';
  }
  .footer__info {
    position: relative;
    top: -11px;
  }
  .footer__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 780px) {
  .images-section {
    grid: repeat(6, 267px)/repeat(2, 1fr);
        grid-template-areas: 'm n' 'p p' 'h c' 'h c' 'e e' 'd f';
  }
  .section-two {
    grid: 400px auto auto repeat(2, 400px) auto/100%;
  }
  .vintage,
  .bicycle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
  }
}

@media screen and (max-width: 640px) {
  .nav-list__item:not(:last-child) {
    padding-right: 35px;
  }
  .nav-list__item:nth-child(2)::after,
  .nav-list__item:nth-child(5)::after {
    top: 13px;
    left: -20px;
    background: #585464;
    width: 2px;
    height: 2px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */